/* COLORS */
$orange:#e9a34d;
$light-blue:#79c0e6;
$dark-gray:#363636;
$font-color:#373737;
$white:#ffffff;

/* SCREEN SIZES */
$laptop: 1024px;
$laptop-l: 1920px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;

/* CONTAINER WIDTH */
$desktop: 1000px;
$mobile: 1px;

/* FONTS */
$fontMain: 'Gotham Pro';
$fontSecond: 'Ubuntu';
$fontThird: 'Montserrat';