@import "../fonts/_fonts.scss";
@import "_reset.scss";
@import "_vars.scss";
@import "_header.scss";
// @import "_footer.scss";
// @import "../scss/blocks/_about.scss";
// @import "../scss/blocks/_advantages.scss";
// @import "../scss/blocks/_certificates.scss";
// @import "../scss/blocks/_form.scss";
// @import "../scss/blocks/_form2.scss";
// @import "../scss/blocks/_gallery.scss";
// @import "../scss/blocks/_how_we_work.scss";
// @import "../scss/blocks/_main_banner.scss";
// @import "../scss/blocks/_partners.scss";
// @import "../scss/blocks/_reviews.scss";
// @import "../scss/blocks/_services.scss";
// @import "../scss/blocks/_solve.scss";


.content {
    max-width: 74%;
    margin: auto;
}

.block_forms {
    margin: auto;
    margin-top: 32px;
    
    form {
        display: flex;
        justify-content: center;
        gap: 10px;
        .form_input {
            border: none;
            border-radius: 8px;
            padding: 8px 0px 8px 12px;
            max-width: 180px;
            box-shadow: 0px 0px 7px rgba(0,0,0, 0.2);
        }
        .form_input::placeholder {
            font-size: 16px;
            font-family: 'Fira Sans';
            font-style: italic;
        }
       
    }
}

.submit_button {
    max-width: 300px;
    background-color: $orange;
    border: none;
    color: $white;
    font-family: 'Fira Sans';
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 24px;
}

.block_title {
    font-size: 34px;
    font-family: $fontMain;
    color: #454545;
    margin: auto;
    font-weight: bold;

    margin-bottom: 56px;
    span {
        display: block;
        text-align: center;
    }
}

.block_wrapper_white {
    max-width: 74%;
    margin: auto;
    background-color: $white;
    border-radius: 30px;
    box-shadow: 10px 10px 100px rgba(0,0,0, 0.15);
}

.block_wrapper {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 158px;
    padding: 0px 15px;
}

.block_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.item {
    width: 23%;
}


.main-banner_content {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: auto;
    margin-top: 5rem;
    

    .main-banner__form {
        max-width: 840px;
        margin: auto;
        display: flex;
        flex-direction: column;

        .main-banner__form_title {
            span {
                font-family: $fontMain;
                text-transform: uppercase;
                font-size: 40px;
                
                font-weight: bold;
            }
        }

        .main_banner__form_description {
            span {
                font-family: 'Fira Sans';
                font-size: 18px;
                font-weight: normal;
                display: block;
                text-align: center;
            }
        }
        
        .main-banner__form_title,
        .main_banner__form_description {
            margin: auto;
            span {
                text-shadow: 3px 3px 5px rgba(0,0,0, 0.15);
                color: $white;        
                text-align: center;
                display: block;
            }
        }

        .main-banner__form_sep {
            margin: auto;
            margin-top: 12px;
            margin-bottom: 24px;
            width: 35%;
            border-bottom: 0.3px solid $white;
        }

        .main-banner__form_forms {
            margin: auto;
            margin-top: 15px;
            
            form {
                display: flex;
                justify-content: center;
                gap: 10px;
                align-items: center;
                .form_input {
                    border: none;
                    border-radius: 8px;
                    padding: 8px 0px 8px 12px;
                    max-width: 180px;
                }
                .form_input::placeholder {
                    font-size: 16px;
                    font-family: 'Fira Sans';
                    font-style: italic;
                }
               
            }
        }

    }

    .main-banner__advantages {

        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 112px;
        .main-banner__advantage {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            .main-banner__advantage_title {
                span {
                    font-family: $fontMain;
                    font-size: 40px;
                    color: $white;
                    font-weight: bold;
                }
            }
            .main-banner__advantage_description {
                width: 80%;
                span {
                    font-family: $fontSecond;
                    font-size: 18px;
                    color: $white;

                }
            }
        }
    }
}


.advantages_block_wrapper {
    max-width: 74%;
    margin: auto;
    margin-bottom: 140px;
    background-color: $white;
    border-radius: 30px;
    box-shadow: 10px 10px 100px rgba(0,0,0, 0.15);
    

    .advantages_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .advantages_block_title {
            margin: 68px 0px;
        }

        .advantages_block_items {
            width: 80%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 88px;
            
            .advantage {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .advantage_title {
                    font-size: 20px;
                    font-family: $fontMain;
                    color: #4f4f4f;
                }
            }
        }
    }
    
}

.services_block_container {
    max-width: 80%;
    margin: auto;
}
.services_block_wrapper {
    max-width: none;
    .services_block_items {

        .services_item_wrapper {
            width: 23%;
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            overflow: hidden;
            box-shadow: 3px 3px 7px rgba(0,0,0, 0.15);

            .services_img {
                width: 100%;
            }
            .service_item_title {
                color: $light-blue;
                font-size: 22px;
                font-weight: bold;
                font-family: 'Fira Sans';
                white-space: wrap;
                span {
                    text-align: center;
                    display: block;
                }
            }

            .service_item_description {
                color: black;
                font-size: 15px;
                font-weight: normal;
                font-family: 'Fira Sans';
                span {
                    display: block;
                    text-align: center;
                }
            }

            .service_item_order-button {
                margin-bottom: 30px;
                .submit_button {
                    padding: 8px 56px;
                }
            }
        }
    }
}

.form_block_wrapper {
    position: relative;
    margin-bottom: 138px;
    .form_block_img {
        position: absolute;
        top: -10%;
        left: -10%;
        max-width: 250px;
    }
    .form_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form_block_title {
            margin-top: 88px;
            margin-bottom: 0;
            font-weight: bold;
        }
        .form_block_forms {
            margin-bottom: 64px;
            form {
                .submit_button {
                    background-color: $light-blue; 
                }
            }
        }
    }
    
}

.solve_block_wrapper {
    .solve_block_items > * {
        width: 50%;
    }
    .solve_block_items {
        .solve_block_text {
            display: flex;
            justify-content: center;
            align-items: center;
            ul {
                li {
                    font-size: 20px;
                    font-weight: 350;
                    font-family: 'Fira Sans';
                }
                li::marker {
                    color: $light-blue;
                    font-size: 1.5em;
                }
            }
        }
    }
}

.how_we_work_block_wrapper {
    .how_we_work_block {
        .how_we_work_block_title {
            margin-top: 92px;
        }
        .how_we_work_block_items {
            margin-bottom: 106px;
            .how_we_work_item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 18px;
                .how_we_work_title {
                    font-size: 16px;
                    font-weight: normal;
                    font-family: 'Fira Sans';
                    span {
                        width: 80%;
                    }
                }
            }
        }
    }
}

.reviews_block_wrapper {
    .reviews_block_items {
        .review_item {
            position: relative;
            .review_author_avatar { 
                position: absolute;
                top: 26px;
                left: 12px;
                z-index: 9;
            }
        }
        .reviews_item_wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            background-color: #fff;
            box-shadow: 10px 10px 50px rgba(0,0,0, 0.15);
            border-radius: 40px;
            padding: 20px 30px 30px 30px;
            margin-top: 100px;
            margin-bottom: 30px;

            .review_item_header {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                width: 100%;
                .review_author_name {
                    span {
                        font-size: 20px;
                        font-family: 'Fira Sans';
                        color: $orange;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
            .review_text {
                span {
                    font-size: 14px;
                    font-family: 'Fira Sans';
                    color: black;
                }
            }
        }
    }
}

.slick-slide {
    margin: 0 27px;
}
.slick-list {
    margin: 0 -27px;
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: $light-blue;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 46px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .55;
    color: $light-blue;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-slide {
    opacity: 0.7;
}

.slick-current {
    opacity: 1;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    opacity: 1;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}
.slick-prev:before {
    content: '←';
}
.slick-next {
    right: -25px;
}
.slick-next:before {
    content: '→';
}

.partners_block_wrapper {
    margin-top: 112px;
    max-width: 60%;
}

.gallery_block_wrapper {
    .gallery_block_title {
        margin-top: 92px;
    }
    .gallery_block_items {
        margin-bottom: 104px;
    }
}

.form2_block_wrapper {
    background: rgb(34,158,254);
    background: linear-gradient(0deg, rgba(34,158,254,1) 0%, rgba(104,223,206,1) 100%);
    padding: 92px 0px;
    margin-bottom: 102px;
    .form2_block {
        .form2_block_title {
            color: $white;
            margin-bottom: 0;
        }
        .form2_block_forms {

            form {
                .submit_button {
                    background-color: $orange!important;
                }
            }
        }
    }
}

.about_block_wrapper {
    max-width: 100%;
    background: url(/img/bottom_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 144px;
    .about_block {
        margin: auto;
        width: calc(74%*0.8);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .about_block_title {
            padding: 96px 0px 80px 0px;
            span {
                font-size: 34px;
                color: $white;
                font-family: $fontMain;
                text-align: center;
                display: block; 
            }
        }
        .about_block_text {
            p {
                text-align: center;
                font-size: 14px;
                color: $white;
                font-family: 'Fira Sans';
                margin-bottom: 28px;
                line-height: 1rem;
            }
            margin-bottom: 48px;
        }
    }
}

.certificates_block_wrapper {
    .certificates_block {
        padding: 92px 0px 104px 0px;
    }
}

.footer {
    background-color: #363636;
    .contacts_block_wrapper {
        width: 80%;
        margin: auto;
       
        padding: 76px 0px 102px 0px;
        .contacts_block_title {
            display: block;
            margin: auto;
            margin-bottom: 20px;
            span {
                font-family: $fontMain;
                color: $white;
                font-size: 34px;
                display: block;
                text-align: center;
            }
        }

        .contacts_block_items {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            width: 100%;
            .address {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                span {
                    font-family: 'fira sans';
                    font-size: 26px;
                    color: $white;
                }
            }

            .tel {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                a {
                    font-size: 26px;
                    color: $white;
                    text-decoration: none;
                    font-family: 'fira sans';

                }
            }

            .callback_button {
                display: flex;
                justify-content: center;
                form {
                    .submit_button {
                        background-color: $light-blue;
                        width: 100%;
                    }
                }
            }
        }
    }
}

form {
    flex-wrap: wrap;
}

@media screen and (max-width: 1440px) {

    .block_wrapper_white {
        max-width: 90%;
    }

    .form_block_wrapper .form_block_img {
        left: 0%!important;
        max-width: 200px;
        top: -45%;
    }
}
@media screen and (max-width: 1200px) {
    .head_banner_wrapper .head_banner_bottom {
        display: block;

    }

    .main-banner_content {
        max-width: 90%;
    }
}

@media screen and (max-width: 1024px) {

    .main-banner_content {
        max-width: 90%;
    }
    .head_banner {
        height: 75%;
    }

    // .services_block_container {
    //     max-width: none;
    // }

    .form_block_wrapper .form_block_img {
        top: -35%;
        max-width: 170px;
    }

    .footer .contacts_block_wrapper .contacts_block_items .address span,
    .footer .contacts_block_wrapper .contacts_block_items .tel a {
        font-size: 24px;
    }


}


@media screen and (max-width: 768px) {

    .block_wrapper {
        max-width: none;
        margin-bottom: 68px!important;
    }

    .form_block_wrapper {
        margin-top: 144px!important;
    }
    .services_block_container {
        max-width: 80%;
    }
    .services_block_wrapper .services_block_items .services_item_wrapper {
        width: 47%;
    }
    .services_block_items {
        row-gap: 15px;
    }
    .how_we_work_block_wrapper .how_we_work_block .how_we_work_block_items .how_we_work_item {
        width: 47%;
    }
    .how_we_work_block_wrapper .how_we_work_block .how_we_work_block_items .how_we_work_item {
        align-items: center;
    }
    .how_we_work_block_wrapper .how_we_work_block .how_we_work_block_items {
        row-gap: 15px;
    }
    .partners_block_wrapper {
        max-width: 80%;
    }
    .advantages_block_wrapper .advantages_block .advantages_block_items {
        justify-content: space-between;
        row-gap: 15px;
        width: 100%!important;
    }
    .advantages_block_wrapper .advantages_block .advantages_block_title {
        margin: 26px 0px!important;
    }
    .advantages_block_wrapper {
        margin-bottom: 140px;
    }
    .slick-next,
    .slick-prev {
        display: none!important;
    }
    .footer .contacts_block_wrapper .contacts_block_items .address span,
    .footer .contacts_block_wrapper .contacts_block_items .tel a {
        font-size: 18px;
    }

    .footer .contacts_block_wrapper .contacts_block_items {
        row-gap: 15px;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer .contacts_block_wrapper .contacts_block_items .address,
    .footer .contacts_block_wrapper .contacts_block_items .tel {
        justify-content: center;
        gap: 5px;
        max-width: 300px;
        margin: auto;
    }

    .footer .contacts_block_wrapper {
        padding: 24px 0px 24px 0px
    }
}

@media screen and (max-width: 425px) {
    .main-banner_content .main-banner__form {
        max-width: 340px;
    }
    .main-banner_content .main-banner__form .main-banner__form_forms form {
        flex-direction: column;
    }
    .advantages_block_wrapper .advantages_block .advantages_block_items .advantage {
        width: 47%;
    }
    .services_block_wrapper .services_block_items .services_item_wrapper {
        width: 100%;
    }
    .block_forms form {
        flex-direction: column;
        align-items: center;
    }

    .form_block_wrapper .form_block_img {
        top: -24%;
    }
    .solve_block_items {
        flex-direction: column;
    }
    .solve_block_wrapper .solve_block_items > * {
        width: 100%;
    }
        
    .gallery.item {
        width: 47%;
    }
}

@media screen and (max-width: 320px) {
    .services_block_wrapper .services_block_items .services_item_wrapper .service_item_title {
        font-size: 18px;
    }

    .block_title {
        font-size: 26px!important;
        width: 90%;
    }

    .advantages_block_wrapper .advantages_block .advantages_block_items {
        margin-bottom: 48px!important;
    }

    .advantages_block_wrapper {
        margin-bottom: 44px!important;
    }

    .block_wrapper {
        margin-bottom: 44px!important;
    }

    .services_block_container {
        margin-bottom: 144px!important;
    }

    .reviews_block_wrapper .reviews_block_items .reviews_item_wrapper {
        padding: 20px 8px 30px 8px!important;
    }
}