@charset "UTF-8";
/* Slick */
@import url("http://fonts.cdnfonts.com/css/slick");
/* Fira Sans */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* UBUNTU */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* Gotham Pro*/
@font-face {
  font-family: 'Gotham Pro';
  src: url("/fonts/GothamPro/GothamPro-BoldItalic.eot");
  src: local("Gotham Pro Bold Italic"), local("GothamPro-BoldItalic"), url("/fonts/GothamPro/GothamPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro/GothamPro-BoldItalic.woff") format("woff"), url("/fonts/GothamPro/GothamPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/fonts/GothamPro/GothamPro-Italic.eot");
  src: local("Gotham Pro Italic"), local("GothamPro-Italic"), url("/fonts/GothamPro/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro/GothamPro-Italic.woff") format("woff"), url("/fonts/GothamPro/GothamPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/fonts/GothamPro/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("/fonts/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro/GothamPro-Medium.woff") format("woff"), url("/fonts/GothamPro/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/fonts/GothamPro/GothamPro-BlackItalic.eot");
  src: local("Gotham Pro Black Italic"), local("GothamPro-BlackItalic"), url("/fonts/GothamPro/GothamPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro/GothamPro-BlackItalic.woff") format("woff"), url("/fonts/GothamPro/GothamPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/fonts/GothamPro/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("/fonts/GothamPro/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro/GothamPro-Bold.woff") format("woff"), url("/fonts/GothamPro/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("/fonts/GothamPro/GothamProNarrow-Bold.eot");
  src: local("Gotham Pro Narrow Bold"), local("GothamProNarrow-Bold"), url("/fonts/GothamPro/GothamProNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro/GothamProNarrow-Bold.woff") format("woff"), url("/fonts/GothamPro/GothamProNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("/fonts/GothamPro/GothamProNarrow-Medium.eot");
  src: local("Gotham Pro Narrow Medium"), local("GothamProNarrow-Medium"), url("/fonts/GothamPro/GothamProNarrow-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro/GothamProNarrow-Medium.woff") format("woff"), url("/fonts/GothamPro/GothamProNarrow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/fonts/GothamPro/GothamPro-LightItalic.eot");
  src: local("Gotham Pro Light Italic"), local("GothamPro-LightItalic"), url("/fonts/GothamPro/GothamPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro/GothamPro-LightItalic.woff") format("woff"), url("/fonts/GothamPro/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/fonts/GothamPro/GothamPro-Light.eot");
  src: local("Gotham Pro Light"), local("GothamPro-Light"), url("/fonts/GothamPro/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro/GothamPro-Light.woff") format("woff"), url("/fonts/GothamPro/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/fonts/GothamPro/GothamPro-Black.eot");
  src: local("Gotham Pro Black"), local("GothamPro-Black"), url("/fonts/GothamPro/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro/GothamPro-Black.woff") format("woff"), url("/fonts/GothamPro/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/fonts/GothamPro/GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"), url("/fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro/GothamPro.woff") format("woff"), url("/fonts/GothamPro/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("/fonts/GothamPro/GothamPro-MediumItalic.eot");
  src: local("Gotham Pro Medium Italic"), local("GothamPro-MediumItalic"), url("/fonts/GothamPro/GothamPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro/GothamPro-MediumItalic.woff") format("woff"), url("/fonts/GothamPro/GothamPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Myriad Pro */
/* This stylesheet generated by Transfonter (https://transfonter.org) on July 4, 2017 2:58 PM */
@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BoldCondIt.eot");
  src: local("Myriad Pro Bold Condensed Italic"), local("MyriadPro-BoldCondIt"), url("/fonts/MyriadPro/MyriadPro-BoldCondIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BoldCondIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BoldCondIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BlackIt.eot");
  src: local("Myriad Pro Black Italic"), local("MyriadPro-BlackIt"), url("/fonts/MyriadPro/MyriadPro-BlackIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BlackIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BlackIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-LightIt.eot");
  src: local("Myriad Pro Light Italic"), local("MyriadPro-LightIt"), url("/fonts/MyriadPro/MyriadPro-LightIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-LightIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BlackCond.eot");
  src: local("Myriad Pro Black Condensed"), local("MyriadPro-BlackCond"), url("/fonts/MyriadPro/MyriadPro-BlackCond.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BlackCond.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BlackCond.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-Cond.eot");
  src: local("Myriad Pro Condensed"), local("MyriadPro-Cond"), url("/fonts/MyriadPro/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-Cond.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-Cond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-Bold.eot");
  src: local("Myriad Pro Bold"), local("MyriadPro-Bold"), url("/fonts/MyriadPro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BoldIt.eot");
  src: local("Myriad Pro Bold Italic"), local("MyriadPro-BoldIt"), url("/fonts/MyriadPro/MyriadPro-BoldIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BoldIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BoldSemiCnIt.eot");
  src: local("Myriad Pro Bold SemiCondensed Italic"), local("MyriadPro-BoldSemiCnIt"), url("/fonts/MyriadPro/MyriadPro-BoldSemiCnIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BoldSemiCnIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BoldSemiCnIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-CondIt.eot");
  src: local("Myriad Pro Condensed Italic"), local("MyriadPro-CondIt"), url("/fonts/MyriadPro/MyriadPro-CondIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-CondIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-CondIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-LightCond.eot");
  src: local("Myriad Pro Light Condensed"), local("MyriadPro-LightCond"), url("/fonts/MyriadPro/MyriadPro-LightCond.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-LightCond.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-LightCond.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-SemiCn.eot");
  src: local("Myriad Pro SemiCondensed"), local("MyriadPro-SemiCn"), url("/fonts/MyriadPro/MyriadPro-SemiCn.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-SemiCn.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-SemiCn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-SemiCnIt.eot");
  src: local("Myriad Pro SemiCondensed Italic"), local("MyriadPro-SemiCnIt"), url("/fonts/MyriadPro/MyriadPro-SemiCnIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-SemiCnIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-SemiCnIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BoldCond.eot");
  src: local("Myriad Pro Bold Condensed"), local("MyriadPro-BoldCond"), url("/fonts/MyriadPro/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BoldCond.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BoldCond.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-LightSemiExtIt.eot");
  src: local("Myriad Pro Light SemiExtended Italic"), local("MyriadPro-LightSemiExtIt"), url("/fonts/MyriadPro/MyriadPro-LightSemiExtIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-LightSemiExtIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-LightSemiExtIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-Semibold.eot");
  src: local("Myriad Pro Semibold"), local("MyriadPro-Semibold"), url("/fonts/MyriadPro/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-Semibold.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-Black.eot");
  src: local("Myriad Pro Black"), local("MyriadPro-Black"), url("/fonts/MyriadPro/MyriadPro-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-Black.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-Regular.eot");
  src: local("Myriad Pro Regular"), local("MyriadPro-Regular"), url("/fonts/MyriadPro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-LightSemiCn.eot");
  src: local("Myriad Pro Light SemiCondensed"), local("MyriadPro-LightSemiCn"), url("/fonts/MyriadPro/MyriadPro-LightSemiCn.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-LightSemiCn.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-LightSemiCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BlackCondIt.eot");
  src: local("Myriad Pro Black Condensed Italic"), local("MyriadPro-BlackCondIt"), url("/fonts/MyriadPro/MyriadPro-BlackCondIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BlackCondIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BlackCondIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-LightCondIt.eot");
  src: local("Myriad Pro Light Condensed Italic"), local("MyriadPro-LightCondIt"), url("/fonts/MyriadPro/MyriadPro-LightCondIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-LightCondIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-LightCondIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-LightSemiExt.eot");
  src: local("Myriad Pro Light SemiExtended"), local("MyriadPro-LightSemiExt"), url("/fonts/MyriadPro/MyriadPro-LightSemiExt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-LightSemiExt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-LightSemiExt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BlackSemiCnIt.eot");
  src: local("Myriad Pro Black SemiCondensed Italic"), local("MyriadPro-BlackSemiCnIt"), url("/fonts/MyriadPro/MyriadPro-BlackSemiCnIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BlackSemiCnIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BlackSemiCnIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-SemiboldCondIt.eot");
  src: local("Myriad Pro Semibold Condensed Italic"), local("MyriadPro-SemiboldCondIt"), url("/fonts/MyriadPro/MyriadPro-SemiboldCondIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-SemiboldCondIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-SemiboldCondIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-SemiboldCond.eot");
  src: local("Myriad Pro Semibold Condensed"), local("MyriadPro-SemiboldCond"), url("/fonts/MyriadPro/MyriadPro-SemiboldCond.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-SemiboldCond.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-SemiboldCond.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BoldSemiExtIt.eot");
  src: local("Myriad Pro Bold SemiExtended Italic"), local("MyriadPro-BoldSemiExtIt"), url("/fonts/MyriadPro/MyriadPro-BoldSemiExtIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BoldSemiExtIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BoldSemiExtIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-SemiboldSemiCn.eot");
  src: local("Myriad Pro Semibold SemiCondensed"), local("MyriadPro-SemiboldSemiCn"), url("/fonts/MyriadPro/MyriadPro-SemiboldSemiCn.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-SemiboldSemiCn.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-SemiboldSemiCn.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BlackSemiExtIt.eot");
  src: local("Myriad Pro Black SemiExtended Italic"), local("MyriadPro-BlackSemiExtIt"), url("/fonts/MyriadPro/MyriadPro-BlackSemiExtIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BlackSemiExtIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BlackSemiExtIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt.eot");
  src: local("Myriad Pro Semibold SemiExtended Italic"), local("MyriadPro-SemiboldSemiExtIt"), url("/fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-LightSemiCnIt.eot");
  src: local("Myriad Pro Light SemiCondensed Italic"), local("MyriadPro-LightSemiCnIt"), url("/fonts/MyriadPro/MyriadPro-LightSemiCnIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-LightSemiCnIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-LightSemiCnIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BoldSemiCn.eot");
  src: local("Myriad Pro Bold SemiCondensed"), local("MyriadPro-BoldSemiCn"), url("/fonts/MyriadPro/MyriadPro-BoldSemiCn.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BoldSemiCn.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BoldSemiCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt.eot");
  src: local("Myriad Pro Semibold SemiCondensed Italic"), local("MyriadPro-SemiboldSemiCnIt"), url("/fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-SemiboldIt.eot");
  src: local("Myriad Pro Semibold Italic"), local("MyriadPro-SemiboldIt"), url("/fonts/MyriadPro/MyriadPro-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-SemiboldIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-It.eot");
  src: local("Myriad Pro Italic"), local("MyriadPro-It"), url("/fonts/MyriadPro/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-It.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BoldSemiExt.eot");
  src: local("Myriad Pro Bold SemiExtended"), local("MyriadPro-BoldSemiExt"), url("/fonts/MyriadPro/MyriadPro-BoldSemiExt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BoldSemiExt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BoldSemiExt.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-Light.eot");
  src: local("Myriad Pro Light"), local("MyriadPro-Light"), url("/fonts/MyriadPro/MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-Light.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-SemiboldSemiExt.eot");
  src: local("Myriad Pro Semibold SemiExtended"), local("MyriadPro-SemiboldSemiExt"), url("/fonts/MyriadPro/MyriadPro-SemiboldSemiExt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-SemiboldSemiExt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-SemiboldSemiExt.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-SemiExtIt.eot");
  src: local("Myriad Pro SemiExtended Italic"), local("MyriadPro-SemiExtIt"), url("/fonts/MyriadPro/MyriadPro-SemiExtIt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-SemiExtIt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-SemiExtIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BlackSemiCn.eot");
  src: local("Myriad Pro Black SemiCondensed"), local("MyriadPro-BlackSemiCn"), url("/fonts/MyriadPro/MyriadPro-BlackSemiCn.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BlackSemiCn.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BlackSemiCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-BlackSemiExt.eot");
  src: local("Myriad Pro Black SemiExtended"), local("MyriadPro-BlackSemiExt"), url("/fonts/MyriadPro/MyriadPro-BlackSemiExt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-BlackSemiExt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-BlackSemiExt.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("/fonts/MyriadPro/MyriadPro-SemiExt.eot");
  src: local("Myriad Pro SemiExtended"), local("MyriadPro-SemiExt"), url("/fonts/MyriadPro/MyriadPro-SemiExt.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro/MyriadPro-SemiExt.woff") format("woff"), url("/fonts/MyriadPro/MyriadPro-SemiExt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* COLORS */
/* SCREEN SIZES */
/* CONTAINER WIDTH */
/* FONTS */
.head_banner_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

.head_banner_wrapper .head_banner_top {
  background: -webkit-gradient(linear, left top, left bottom, from(#52FFF1), to(#6CEEEC));
  background: linear-gradient(#52FFF1, #6CEEEC);
}

.head_banner_wrapper .head_banner_bottom {
  background: -webkit-gradient(linear, left top, left bottom, from(#6CEEEC), to(#9CEADD));
  background: linear-gradient(#6CEEEC, #9CEADD);
}

.head_banner_wrapper .head_banner_top,
.head_banner_wrapper .head_banner_bottom {
  display: none;
  height: 300px;
  width: 100%;
}

.head_banner_wrapper .head_banner_img {
  background: url(/img/head_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-container {
  max-width: 74%;
  margin: auto;
}

.header-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.header__top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.header__top-menu ul li {
  list-style: none;
  overflow: hidden;
}

.header__top-menu ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Ubuntu";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
}

.menu {
  display: none;
}

.menu-tel {
  display: none;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo .header__logo_title {
  font-family: "Montserrat";
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__contacts a {
  text-decoration: none;
}

.header__contacts a span {
  font-family: "Ubuntu";
  color: #ffffff;
  font-weight: bold;
}

.header__contacts .callback_form {
  border-bottom: 1px solid #ffffff;
}

.chevron::before {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.5em;
  vertical-align: top;
  width: 0.45em;
  font-family: "Ubuntu";
  color: #ffffff;
  font-weight: bold;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

@media screen and (max-width: 1260px) {
  .header-container {
    max-width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .header-container {
    max-width: 90%;
  }
  .header__top-menu ul li a {
    font-size: 14px;
  }
  .header__top-menu {
    display: none;
  }
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 78px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-toggle ~ ul.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
  }
  #menu-toggle ~ ul.menu li a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Ubuntu";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
  }
  #menu-toggle:checked ~ ul.menu li {
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  ul.menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.4);
  }
  ul.menu > li:not(:last-child) {
    border-bottom: none !important;
  }
}

@media screen and (max-width: 768px) {
  .head_banner_wrapper .head_banner_bottom {
    display: block;
    height: 300px !important;
  }
  .advantages_block_wrapper .advantages_block {
    margin-top: 44px;
  }
}

@media screen and (max-width: 660px) {
  .main-banner_content .main-banner__form .main-banner__form_title span {
    font-size: 23px !important;
  }
  .main-banner_content .main-banner__form .main_banner__form_description span {
    font-size: 14px !important;
  }
  .main-banner_content {
    margin-top: 3rem !important;
  }
  .main-banner_content .main-banner__advantages {
    row-gap: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-banner_content .main-banner__advantages .main-banner__advantage {
    width: 47%;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .main-banner_content .main-banner__advantages .main-banner__advantage .main-banner__advantage_title span {
    font-size: 24px !important;
  }
  .main-banner_content .main-banner__advantages .main-banner__advantage .main-banner__advantage_description span {
    font-size: 14px !important;
    display: block;
    text-align: center;
  }
  .main-banner_content .main-banner__form {
    max-width: 90% !important;
  }
}

@media screen and (max-width: 550px) {
  .head_banner_wrapper .head_banner_top {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  ul.menu {
    margin-top: 76px;
  }
  .header__contacts {
    display: none;
  }
}

.content {
  max-width: 74%;
  margin: auto;
}

.block_forms {
  margin: auto;
  margin-top: 32px;
}

.block_forms form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.block_forms form .form_input {
  border: none;
  border-radius: 8px;
  padding: 8px 0px 8px 12px;
  max-width: 180px;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.block_forms form .form_input::-webkit-input-placeholder {
  font-size: 16px;
  font-family: 'Fira Sans';
  font-style: italic;
}

.block_forms form .form_input:-ms-input-placeholder {
  font-size: 16px;
  font-family: 'Fira Sans';
  font-style: italic;
}

.block_forms form .form_input::-ms-input-placeholder {
  font-size: 16px;
  font-family: 'Fira Sans';
  font-style: italic;
}

.block_forms form .form_input::placeholder {
  font-size: 16px;
  font-family: 'Fira Sans';
  font-style: italic;
}

.submit_button {
  max-width: 300px;
  background-color: #e9a34d;
  border: none;
  color: #ffffff;
  font-family: 'Fira Sans';
  border-radius: 8px;
  font-weight: bold;
  padding: 8px 24px;
}

.block_title {
  font-size: 34px;
  font-family: "Gotham Pro";
  color: #454545;
  margin: auto;
  font-weight: bold;
  margin-bottom: 56px;
}

.block_title span {
  display: block;
  text-align: center;
}

.block_wrapper_white {
  max-width: 74%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.15);
}

.block_wrapper {
  max-width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 158px;
  padding: 0px 15px;
}

.block_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.item {
  width: 23%;
}

.main-banner_content {
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  margin: auto;
  margin-top: 5rem;
}

.main-banner_content .main-banner__form {
  max-width: 840px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-banner_content .main-banner__form .main-banner__form_title span {
  font-family: "Gotham Pro";
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.main-banner_content .main-banner__form .main_banner__form_description span {
  font-family: 'Fira Sans';
  font-size: 18px;
  font-weight: normal;
  display: block;
  text-align: center;
}

.main-banner_content .main-banner__form .main-banner__form_title,
.main-banner_content .main-banner__form .main_banner__form_description {
  margin: auto;
}

.main-banner_content .main-banner__form .main-banner__form_title span,
.main-banner_content .main-banner__form .main_banner__form_description span {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-align: center;
  display: block;
}

.main-banner_content .main-banner__form .main-banner__form_sep {
  margin: auto;
  margin-top: 12px;
  margin-bottom: 24px;
  width: 35%;
  border-bottom: 0.3px solid #ffffff;
}

.main-banner_content .main-banner__form .main-banner__form_forms {
  margin: auto;
  margin-top: 15px;
}

.main-banner_content .main-banner__form .main-banner__form_forms form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-banner_content .main-banner__form .main-banner__form_forms form .form_input {
  border: none;
  border-radius: 8px;
  padding: 8px 0px 8px 12px;
  max-width: 180px;
}

.main-banner_content .main-banner__form .main-banner__form_forms form .form_input::-webkit-input-placeholder {
  font-size: 16px;
  font-family: 'Fira Sans';
  font-style: italic;
}

.main-banner_content .main-banner__form .main-banner__form_forms form .form_input:-ms-input-placeholder {
  font-size: 16px;
  font-family: 'Fira Sans';
  font-style: italic;
}

.main-banner_content .main-banner__form .main-banner__form_forms form .form_input::-ms-input-placeholder {
  font-size: 16px;
  font-family: 'Fira Sans';
  font-style: italic;
}

.main-banner_content .main-banner__form .main-banner__form_forms form .form_input::placeholder {
  font-size: 16px;
  font-family: 'Fira Sans';
  font-style: italic;
}

.main-banner_content .main-banner__advantages {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 112px;
}

.main-banner_content .main-banner__advantages .main-banner__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-banner_content .main-banner__advantages .main-banner__advantage .main-banner__advantage_title span {
  font-family: "Gotham Pro";
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
}

.main-banner_content .main-banner__advantages .main-banner__advantage .main-banner__advantage_description {
  width: 80%;
}

.main-banner_content .main-banner__advantages .main-banner__advantage .main-banner__advantage_description span {
  font-family: "Ubuntu";
  font-size: 18px;
  color: #ffffff;
}

.advantages_block_wrapper {
  max-width: 74%;
  margin: auto;
  margin-bottom: 140px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.15);
}

.advantages_block_wrapper .advantages_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages_block_wrapper .advantages_block .advantages_block_title {
  margin: 68px 0px;
}

.advantages_block_wrapper .advantages_block .advantages_block_items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 88px;
}

.advantages_block_wrapper .advantages_block .advantages_block_items .advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages_block_wrapper .advantages_block .advantages_block_items .advantage .advantage_title {
  font-size: 20px;
  font-family: "Gotham Pro";
  color: #4f4f4f;
}

.services_block_container {
  max-width: 80%;
  margin: auto;
}

.services_block_wrapper {
  max-width: none;
}

.services_block_wrapper .services_block_items .services_item_wrapper {
  width: 23%;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
}

.services_block_wrapper .services_block_items .services_item_wrapper .services_img {
  width: 100%;
}

.services_block_wrapper .services_block_items .services_item_wrapper .service_item_title {
  color: #79c0e6;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Fira Sans';
  white-space: wrap;
}

.services_block_wrapper .services_block_items .services_item_wrapper .service_item_title span {
  text-align: center;
  display: block;
}

.services_block_wrapper .services_block_items .services_item_wrapper .service_item_description {
  color: black;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Fira Sans';
}

.services_block_wrapper .services_block_items .services_item_wrapper .service_item_description span {
  display: block;
  text-align: center;
}

.services_block_wrapper .services_block_items .services_item_wrapper .service_item_order-button {
  margin-bottom: 30px;
}

.services_block_wrapper .services_block_items .services_item_wrapper .service_item_order-button .submit_button {
  padding: 8px 56px;
}

.form_block_wrapper {
  position: relative;
  margin-bottom: 138px;
}

.form_block_wrapper .form_block_img {
  position: absolute;
  top: -10%;
  left: -10%;
  max-width: 250px;
}

.form_block_wrapper .form_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_block_wrapper .form_block .form_block_title {
  margin-top: 88px;
  margin-bottom: 0;
  font-weight: bold;
}

.form_block_wrapper .form_block .form_block_forms {
  margin-bottom: 64px;
}

.form_block_wrapper .form_block .form_block_forms form .submit_button {
  background-color: #79c0e6;
}

.solve_block_wrapper .solve_block_items > * {
  width: 50%;
}

.solve_block_wrapper .solve_block_items .solve_block_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solve_block_wrapper .solve_block_items .solve_block_text ul li {
  font-size: 20px;
  font-weight: 350;
  font-family: 'Fira Sans';
}

.solve_block_wrapper .solve_block_items .solve_block_text ul li::marker {
  color: #79c0e6;
  font-size: 1.5em;
}

.how_we_work_block_wrapper .how_we_work_block .how_we_work_block_title {
  margin-top: 92px;
}

.how_we_work_block_wrapper .how_we_work_block .how_we_work_block_items {
  margin-bottom: 106px;
}

.how_we_work_block_wrapper .how_we_work_block .how_we_work_block_items .how_we_work_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 18px;
}

.how_we_work_block_wrapper .how_we_work_block .how_we_work_block_items .how_we_work_item .how_we_work_title {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Fira Sans';
}

.how_we_work_block_wrapper .how_we_work_block .how_we_work_block_items .how_we_work_item .how_we_work_title span {
  width: 80%;
}

.reviews_block_wrapper .reviews_block_items .review_item {
  position: relative;
}

.reviews_block_wrapper .reviews_block_items .review_item .review_author_avatar {
  position: absolute;
  top: 26px;
  left: 12px;
  z-index: 9;
}

.reviews_block_wrapper .reviews_block_items .reviews_item_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  padding: 20px 30px 30px 30px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.reviews_block_wrapper .reviews_block_items .reviews_item_wrapper .review_item_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.reviews_block_wrapper .reviews_block_items .reviews_item_wrapper .review_item_header .review_author_name span {
  font-size: 20px;
  font-family: 'Fira Sans';
  color: #e9a34d;
  font-weight: bold;
  text-transform: uppercase;
}

.reviews_block_wrapper .reviews_block_items .reviews_item_wrapper .review_text span {
  font-size: 14px;
  font-family: 'Fira Sans';
  color: black;
}

.slick-slide {
  margin: 0 27px;
}

.slick-list {
  margin: 0 -27px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #79c0e6;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 46px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .55;
  color: #79c0e6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-slide {
  opacity: 0.7;
}

.slick-current {
  opacity: 1;
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  opacity: 1;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

.slick-prev:before {
  content: '←';
}

.slick-next {
  right: -25px;
}

.slick-next:before {
  content: '→';
}

.partners_block_wrapper {
  margin-top: 112px;
  max-width: 60%;
}

.gallery_block_wrapper .gallery_block_title {
  margin-top: 92px;
}

.gallery_block_wrapper .gallery_block_items {
  margin-bottom: 104px;
}

.form2_block_wrapper {
  background: #229efe;
  background: -webkit-gradient(linear, left bottom, left top, from(#229efe), to(#68dfce));
  background: linear-gradient(0deg, #229efe 0%, #68dfce 100%);
  padding: 92px 0px;
  margin-bottom: 102px;
}

.form2_block_wrapper .form2_block .form2_block_title {
  color: #ffffff;
  margin-bottom: 0;
}

.form2_block_wrapper .form2_block .form2_block_forms form .submit_button {
  background-color: #e9a34d !important;
}

.about_block_wrapper {
  max-width: 100%;
  background: url(/img/bottom_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 144px;
}

.about_block_wrapper .about_block {
  margin: auto;
  width: calc(74%*0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_block_wrapper .about_block .about_block_title {
  padding: 96px 0px 80px 0px;
}

.about_block_wrapper .about_block .about_block_title span {
  font-size: 34px;
  color: #ffffff;
  font-family: "Gotham Pro";
  text-align: center;
  display: block;
}

.about_block_wrapper .about_block .about_block_text {
  margin-bottom: 48px;
}

.about_block_wrapper .about_block .about_block_text p {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Fira Sans';
  margin-bottom: 28px;
  line-height: 1rem;
}

.certificates_block_wrapper .certificates_block {
  padding: 92px 0px 104px 0px;
}

.footer {
  background-color: #363636;
}

.footer .contacts_block_wrapper {
  width: 80%;
  margin: auto;
  padding: 76px 0px 102px 0px;
}

.footer .contacts_block_wrapper .contacts_block_title {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.footer .contacts_block_wrapper .contacts_block_title span {
  font-family: "Gotham Pro";
  color: #ffffff;
  font-size: 34px;
  display: block;
  text-align: center;
}

.footer .contacts_block_wrapper .contacts_block_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.footer .contacts_block_wrapper .contacts_block_items .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer .contacts_block_wrapper .contacts_block_items .address span {
  font-family: 'fira sans';
  font-size: 26px;
  color: #ffffff;
}

.footer .contacts_block_wrapper .contacts_block_items .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contacts_block_wrapper .contacts_block_items .tel a {
  font-size: 26px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'fira sans';
}

.footer .contacts_block_wrapper .contacts_block_items .callback_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .contacts_block_wrapper .contacts_block_items .callback_button form .submit_button {
  background-color: #79c0e6;
  width: 100%;
}

form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1440px) {
  .block_wrapper_white {
    max-width: 90%;
  }
  .form_block_wrapper .form_block_img {
    left: 0% !important;
    max-width: 200px;
    top: -45%;
  }
}

@media screen and (max-width: 1200px) {
  .head_banner_wrapper .head_banner_bottom {
    display: block;
  }
  .main-banner_content {
    max-width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .main-banner_content {
    max-width: 90%;
  }
  .head_banner {
    height: 75%;
  }
  .form_block_wrapper .form_block_img {
    top: -35%;
    max-width: 170px;
  }
  .footer .contacts_block_wrapper .contacts_block_items .address span,
  .footer .contacts_block_wrapper .contacts_block_items .tel a {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .block_wrapper {
    max-width: none;
    margin-bottom: 68px !important;
  }
  .form_block_wrapper {
    margin-top: 144px !important;
  }
  .services_block_container {
    max-width: 80%;
  }
  .services_block_wrapper .services_block_items .services_item_wrapper {
    width: 47%;
  }
  .services_block_items {
    row-gap: 15px;
  }
  .how_we_work_block_wrapper .how_we_work_block .how_we_work_block_items .how_we_work_item {
    width: 47%;
  }
  .how_we_work_block_wrapper .how_we_work_block .how_we_work_block_items .how_we_work_item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .how_we_work_block_wrapper .how_we_work_block .how_we_work_block_items {
    row-gap: 15px;
  }
  .partners_block_wrapper {
    max-width: 80%;
  }
  .advantages_block_wrapper .advantages_block .advantages_block_items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 15px;
    width: 100% !important;
  }
  .advantages_block_wrapper .advantages_block .advantages_block_title {
    margin: 26px 0px !important;
  }
  .advantages_block_wrapper {
    margin-bottom: 140px;
  }
  .slick-next,
  .slick-prev {
    display: none !important;
  }
  .footer .contacts_block_wrapper .contacts_block_items .address span,
  .footer .contacts_block_wrapper .contacts_block_items .tel a {
    font-size: 18px;
  }
  .footer .contacts_block_wrapper .contacts_block_items {
    row-gap: 15px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .footer .contacts_block_wrapper .contacts_block_items .address,
  .footer .contacts_block_wrapper .contacts_block_items .tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
    max-width: 300px;
    margin: auto;
  }
  .footer .contacts_block_wrapper {
    padding: 24px 0px 24px 0px;
  }
}

@media screen and (max-width: 425px) {
  .main-banner_content .main-banner__form {
    max-width: 340px;
  }
  .main-banner_content .main-banner__form .main-banner__form_forms form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages_block_wrapper .advantages_block .advantages_block_items .advantage {
    width: 47%;
  }
  .services_block_wrapper .services_block_items .services_item_wrapper {
    width: 100%;
  }
  .block_forms form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form_block_wrapper .form_block_img {
    top: -24%;
  }
  .solve_block_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .solve_block_wrapper .solve_block_items > * {
    width: 100%;
  }
  .gallery.item {
    width: 47%;
  }
}

@media screen and (max-width: 320px) {
  .services_block_wrapper .services_block_items .services_item_wrapper .service_item_title {
    font-size: 18px;
  }
  .block_title {
    font-size: 26px !important;
    width: 90%;
  }
  .advantages_block_wrapper .advantages_block .advantages_block_items {
    margin-bottom: 48px !important;
  }
  .advantages_block_wrapper {
    margin-bottom: 44px !important;
  }
  .block_wrapper {
    margin-bottom: 44px !important;
  }
  .services_block_container {
    margin-bottom: 144px !important;
  }
  .reviews_block_wrapper .reviews_block_items .reviews_item_wrapper {
    padding: 20px 8px 30px 8px !important;
  }
}
/*# sourceMappingURL=style.css.map */